@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(222, 26%, 31%);
}

.section-center {
    width: 350px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: hsl(224, 36%, 15%);
}

.expression {
    font-size: .75rem;
    text-align: right;
    font-weight: bold;
    color: lightcoral;
    padding: 10px;
}

.displayCalc {
    background-color: hsl(224, 36%, 15%);
    padding: 10px;
    font-family: inherit;
    font-size: 1.72rem;
    font-weight: bold;
    text-align: right;
    color: #fff;
    letter-spacing: 4px;
}

.container {
    width: 100%;
    background-color: hsl(223, 31%, 20%);
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}